body {
    background-image: url("../images/women.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
    background-position: top;
}

.text {
    color: black;
    font-family: 'Muli', sans-serif;
}

.navbar {
    background: #955635;
}

#randomWord {
    padding: 10px;
    font-size: 40px
}

.before-game-card {
    padding-bottom: 200px;
}

.game-card {
    position: absoulute;
    bottom: -100px;
}

.card-header {
    background: #955635;
    color: white
}
